# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target

# node modules
/node_modules

projectFilesBackup

.idea/
.DS_Store
*.iml
.classpath
.project

/out
.sass-cache/
grails-app/assets/javascripts/bower_components
grails-app/assets/stylesheets/css/
grails-app/assets/stylesheets/.sass-cache
