@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';
@import "../partials/jquery.dataTable";
@import '../select2/select2';

//.account-list-table{
//    td{
//        position: relative;
//
//        .btn-edit{
//            position: absolute;
//            top: 0;
//            left: 15px;
//        }
//
//        .btn-remove{
//            position: absolute;
//            top: 0;
//            right: 15px;
//        }
//    }
//
//}