@import '../partials/common';

.content {
    padding-top: 150px;

    .app-or-key {
        width: 500px;
        margin: 0 auto;
    }

    #app {
        width:100%;
    }

    .context-app, .context-key{
        font-size: 24px;
        font-weight: bold;
        text-align: center;

    }
    #app{
        margin-top: 30px;
    }

    #key{
        margin-top:30px;
    }

    button {
        margin-top: 20px;
        width: 500px;
        height: 45px;
        font-size: 24px;
        color: white;
        background-color: #5ca941;
    }

    #disable{
        background-color: red;
        color: white;
        display: block;
        width: 200px;
        height: 45px;
        font-size: 24px;
        margin-top: 20px;
    }
}
