@import '../partials/common';

.content {
    padding-top: 150px;

    text-align: center;

    .title {
        margin-bottom: 50px;
    }

    form {
        width: 500px;
        margin: auto;
    }
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

