@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';
@import '../partials/selector';

.content {
    margin-left: 20px;
    margin-top: 30px;
}

.provider-list-table {
    padding-top: 20px;
}

.add-provider {
    padding: 5px 2px 5px 7px;
    position: relative;
    width: 120px;

    &:before {
        content: '+';
        font-size: 150%;
        left: 8px;
        margin-right: 5px;
        position: absolute;
        top: -1px;
    }
}
