@import '../partials/common';
@import '../partials/form';
@import "../partials/jquery.dataTable";

.sub-title {
    margin: 0 0 20px;
}


.inline-select {
    display: inline;
    width: 65px;
}

.inline-long-select {
    display: inline;
    width: 100px;
}

.modal {
    .item-description {
        margin: 25px 0 25px 25px;
    }
}
