@import "compass/support";
@import "compass/layout";
@import "compass/utilities";
@import "compass/typography";
@import "compass/reset";
@import "compass/css3";

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-line-height: 1.4;
$base-font-utility: 14px "sans-serif";

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Colors
$base-color-white: #FFFFFF;

$base-color-lightGrey: #F2F2F2;
$base-color-lighterGrey: #F3F3F3;
$base-color-midGrey: #808080;
$base-color-darkGrey: #333333;

$base-color-lightBlue: #7FC7D1;
$base-color-midBlue: #47B1C1;
$base-color-darkBlue: #08567F;
$base-color-Blue: #176F88;

$btn-color-primary: #CCCCCC;

html, body {
  min-width: 320px;
  font: $base-font-utility;
  letter-spacing: .5px;
  ::selection {
    color: white;
    background: $base-color-midBlue;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

* {
  outline: none;
}

*:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  border: none;
  display: block;
}

a {
  display: inline-block;
  font: $base-font-utility;
  color: $base-color-lightBlue;
  background: transparent;
  text-decoration: none;
  &.underline {
    text-decoration: underline;
  }
}

.btn, .ui-button {
  border-radius: 4px;
  width: 95px;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  white-space: nowrap;
  padding: 6px 12px;
  &:hover, &:focus {
    color: $base-color-white;
    background-color: darken($base-color-lightBlue, 10%);
  }
  &.primary {
    color: $btn-color-primary;
    &:hover, &:focus {
      color: $base-color-white;
      background-color: darken($btn-color-primary, 10%);
    }
  }

}

.ui-dialog {
  @include box-shadow($base-color-midGrey 2px 2px 10px);
}

.ui-hidden {
  display: none !important;
}

.input_li {
  background: $base-color-lightGrey;
}

.ui-button {
  border: 2px solid $btn-color-primary;

  .ui-button-text {
    color: $btn-color-primary;
  }

  &:hover, &:focus {
    border: 0;
    background-color: darken($base-color-lightBlue, 10%);

    .ui-button-text {
      color: $base-color-white;
    }
  }
}

.ui-dialog-title {
  color: $base-color-Blue;
}

.window-warning-title {
  color: $base-color-midBlue;
}

.window-warning {
  color: $base-color-midGrey;
}