@import 'compass/support';
@import 'compass/layout';
@import 'compass/utilities';
@import 'compass/typography';
@import 'compass/css3';

html,
body {
    min-width: 320px;
    font: $base-font-utility;
    letter-spacing: .5px;

    ::selection {
        color: $base-color-white;
        background: $base-color-mid-blue;
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.rc-hidden {
    display: none;
}

.rc-display {
    display: block;
}

.rc-line-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rc-form-text {
    line-height: 34px;
}

.rc-server-error {
    display: none;
}

* {
    outline: none;
}

*:before,
*:after {
    @include box-sizing(border-box);
}

div {
    display: block;
    border: 0;
}

a {
    display: inline-block;
    color: $base-color-light-blue;
    background: transparent;
    font: $base-font-utility;
    text-decoration: none;

    &.underline {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: none;
    }
}

dl {
    margin-bottom: 10px;
}

table.dataTable {
   tbody tr {
        cursor: pointer;
    }
}

.modal-dialog {
    z-index: 9999;
}

label.error {
    color: $base-color-error;
}
