@import 'compass/support';
@import 'compass/layout';
@import 'compass/utilities';
@import 'compass/typography';
@import 'compass/css3';



html,
body {
    font: $base-font-utility;
    letter-spacing: .5px;
    min-width: 320px;

    ::selection {
        background: $base-color-mid-blue;
        color: $base-color-white;
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.rc-hidden {
    display: none;
}

.rc-display {
    display: block;
}

.rc-line-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

* {
    outline: none;
}

*:before,
*:after {
    @include box-sizing(border-box);
}

div {
    border: 0;
    display: block;
}

a {
    background: transparent;
    color: $base-color-light-blue;
    display: inline-block;
    font: $base-font-utility;
    text-decoration: none;

    &.underline {
        text-decoration: underline;
    }
}

dl {
    margin-bottom: 10px;
}
