//.form-group {
//    text-align: center;
//    margin-top: 15px;
//    margin-bottom: 15px;
//
//    .input-group {
//        border: 0;
//        height: 35px;
//        margin-top: 20px;
//        padding-left: 10px;
//        width: 330px;
//    }
//}

//layout form
.site-wrapper {
    padding: 200px 3% 80px;
}

.panel-border {
    border-color: #ccc;
    webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.error-area {
    color: #c9302c;
    padding: 10px 0;
}



