.header {
    height: 50px;
    width: 100%;
    background-color: $base-color-lightGrey;
    z-index: 9999;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $base-color-midGrey;
}
.toolbar {
    min-width: 480px;
    min-height: 50px;
    .logo {
        margin-top: 15px;
        margin-left: 15px;
        height: 35px;
        color: $base-color-darkBlue;
        position: relative;
        img {
            width: 16px;
            height: 20px;
        }
        .name{
            position: absolute;
            top: 0px;
            left: 25px;
            font-size: 18px;
        }
        .part{
            position: absolute;
            top: 3px;
            font-size: 18px;
            left: 115px;
            font: message-box;
        }
    }
}
.login-info {
    width: 170px;
    .set-block {
        width: 50px;
        float: left;
        position: relative;
        overflow: hidden;
        height: 50px;
        text-align: center;
        &:before{
            content: url('../vertical_line.png');
            position: absolute;
            height: 49px;
            left: 0;
            top: 0;
        }
        &:after{
            content: url('../vertical_line.png');
            position: absolute;
            right: 0;
            top: 0;
        }
        .icon-set {
            width: 10px;
            height: 20px;
            border: 0;
            background: url(../../images/setting.png) no-repeat 0 0;
            background-size: cover;
            margin-top: 6px;
        }
    }
    .profile {
        float: right;
        width: 120px;
        margin-top: 10px;
        li{
            text-align: right;
            padding-right: 15px;
        }
    }
}
