.header {
    height: 50px;
    width: 100%;
    background-color: $base-color-lightGrey;
    z-index: 9999;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.toolbar {
    min-width: 480px;
    min-height: 50px;
    .logo {
        margin-top: 15px;
        margin-left: 15px;
        height: 35px;
        color: $base-color-darkBlue;
        position: relative;
        img {
            width: 16px;
            height: 20px;
        }
        .name{
            position: absolute;
            top: 0px;
            left: 25px;
            font-size: 18px;
        }
        .part{
            position: absolute;
            top: 3px;
            font-size: 18px;
            left: 115px;
            font: message-box;
        }
    }
}
.login-info {
    width: 170px;
    .set-block {
        width: 50px;
        float: left;
        .icon-set {
            width: 20px;
        }
    }
    .profile {
        float: right;
        width: 120px;
    }
}
