.main {
    min-width: 480px;
    padding: 50px 0 0 130px;
}

.content {
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 30px;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 500;
    font-size: 36px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

.center {
    text-align: center;
}


//use in dropdown list

.open>.dropdown-list {
    display: block;
}

.btn-dropdown {
    position: relative;
}

.dropdown-list {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 160px;
    margin: 2px 0 0;
    padding: 5px 0;
    border: 1px solid $base-color-light-blue;
    border-radius: 4px;
    background-color: $base-color-white;
    font-size: 14px;
    list-style: none;
    text-align: left;

    li {
        padding: 4px 12px;
    }

    .divider {
        overflow: hidden;
        height: 1px;
        margin: 9px 8px;
        padding: 0;
        background-color: $base-color-light-blue;
    }

}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;

}


// use in dropdown list

