.main-nav {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 999;
    width: 130px;
    height: auto;
    min-height: 910px;
    background-color: $base-color-dark-grey;

    .list {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .nav-li {
        position: relative;
        height: 83px;

        a {
            width: 100%;
            height: 100%;
            color: $base-color-mid-grey;
        }

        .ui-icon {
            display: block;
            width: 30px;
            height: 30px;
            margin: 15px auto 10px;
        }

        .icon-client {
            background: image-url('client.png') no-repeat 0 0;
            background-size: cover;
        }

        .icon-account {
            background: image-url('account.png') no-repeat 0 0;
            background-size: cover;
        }

        .icon-announcements {
            background: image-url('tool.png') no-repeat 0 0;
            background-size: cover;
        }

        &:hover,
        &:focus,
        &.active {
            height: 83px;
            color: $base-color-white;
            background: image-url('nav_background.png') no-repeat 0 0;
            background-size: cover;

            a {
                color: $base-color-white;
            }

            .icon-client {
                background: image-url('client_hover.png') no-repeat 0 0;
                background-size: cover;
            }

            .icon-account {
                background: image-url('account_hover.png') no-repeat 0 0;
                background-size: cover;
            }

            .icon-announcements {
                background: image-url('tool_hover.png') no-repeat 0 0;
                background-size: cover;
            }

            &:before {
                position: absolute;
                top: 42.5%;
                right: 0;
                margin-left: -6px;
                border: solid 6px transparent;
                border-right-color: #fff;
                content: '';
            }
        }

        &:after {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            content: image-url('underline.png');
        }
    }
}


