@import "compass/css3";
@import "compass/utilities";

.content {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;

    .content_left {
        width: auto;
        height: auto;

        .content_left_top {
            width: 250px;
            height: 100px;
        }

        .content_left_bottom {
            width: 250px;
            margin-top: 30px;
        }
    }

    .content_right {
        position: absolute;
        top: 1px;
        left: 280px;

        .content_right_top {
            height: 200px;
        }
    }
}

.provider_name {
    display: inline;
    font-weight: bold;
    margin-left: -10px;
}

.btn_add {
    width: 72px;
    height: 70px;
    margin: 15px;
    font-size: x-small;
}

.content_title {
    height: 30px;
    padding-top: 15px;

    .provider_status {
        margin-left: 20px;
    }
}

.ul_tip {
    font-weight: bold;
    margin-top: 15px;
    text-align: center;

    .btn_on {
        margin-left: 5px;
    }

    .li_msg {
        margin-left: 15px;
        margin-top: 10px;
    }

    .li_lib {
        margin-left: 32px;
        margin-top: 10px;
    }

}

.inner_content {
    position: relative;

    .icon-edit {
        background: url(../../../images/edit.png) no-repeat 0 0;
        background-size: cover;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

.inner_head {
    padding-top: 15px;
    position: relative;
    height: 30px;
    width: 830px;

    .p_info {
        display: inline;
        margin-left: 10px;
    }

    .div_status {
        display: inline;
        position: absolute;
        left: 620px;
        font-size: xx-small;
        margin-top: 5px;
    }

    .p_status {
        display: inline;
        font-weight: bold;
    }

    .btn_invite {
        position: absolute;
        left: 720px;
        width: 100px;
        height: 30px;
        @include border-radius(5px);
        margin-top: -8px;
        font-size: small;
    }

    .btn_add_treatment {
        position: absolute;
        left: 690px;
        height: 30px;
        width: 130px;
        margin-top: -6px;
        @include border-radius(5px);
        background: white;
        font-size: small;
    }
}

.inner_body {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;

    .li_first_name {
        margin-left: 16px;
        margin-top: 20px;
    }

    .li_last_name {
        margin-left: 19px;
        margin-top: 20px;
    }
}

.accordion-inner-body {
    border-bottom: 1px solid red;
    width: 830px;

    .inner-header {
        position: relative;
        padding-bottom: 15px;
        margin-top: 15px;
        margin-left: 20px;

        .accordion-title {
            margin-left: 20px;
            font-size: medium;
            cursor: pointer;

            &:before {
                border: solid 5px blue;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-right-color: transparent;
                content: '';
                position: absolute;
                top: 2px;
                left: 0px;
            }
        }

        .displaynone {
            display: none;
        }

        .displayblock {
            display: block;
        }
    }
}

.accordion-title-change {
    margin-left: 20px;
    font-size: medium;
    cursor: pointer;

    &:before {
        border: solid 5px blue;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        content: '';
        position: absolute;
        top: 2px;
        left: 0px;
    }
}

.treatment-id {
    position: absolute;
    top: 0;
    left: 300px;
    cursor: pointer;

    &:before {
        content: url('../../../images/vertical_small_line.png');
        position: absolute;
        top: -5px;
        left: -30px;
    }
}

.accordion-content {
    position: relative;
    padding-bottom: 20px;

    .inner-content {
        font-size: initial;
        width: 70%;
        color: blue;
        padding: 30px 0 20px 65px;
    }
}

.actions-list {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 999;

    .btn-action {
        border: 1px solid red;
        width: 75px;
        @include border-radius(5px);
        height: 20px;
        padding-top: 5px;
        padding-left: 10px;
        margin-top: -10px;
    }

    .div-position {
        border: 1px solid blue;
        width: 68px;
        margin-left: 5px;
        border-radius: 5px;
        margin-top: 5px;
        padding-left: 10px;

        .btn-view {
            border-bottom: 1px solid green;
            width: 80%;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .btn-remove {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .displaynone {
        display: none;
    }

    .displayblock {
        display: block;
    }

    &:before {
        border: solid 5px blue;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        content: '';
        position: absolute;
        top: 5px;
        right: 10px;
    }

}

.div-tool-list {
    position: relative;
    width: 90%;
    margin-left: 40px;
    background: #add8e6;
    height: 40px;
    @include border-radius(5px);

    li {
        display: inline;
    }

    .li-basic-tool {
        position: absolute;
        top: 10px;
        left: 80px;
    }

    p {
        color: red;
        font-weight: bolder;
    }

    .p-basic-number {
        position: absolute;
        top: 0;
        left: 82px;
    }

    &:before {
        content: url('../../../images/vertical_small_line.png');
        position: absolute;
        height: 30px;
        top: 5px;
        left: 250px;
    }

    .li-outcome-tool {
        position: absolute;
        top: 10px;
        left: 330px;
    }

    .p-outcome-number {
        position: absolute;
        top: 0;
        left: 101px;
    }

    &:after {
        content: url('../../../images/vertical_small_line.png');
        position: absolute;
        height: 30px;
        top: 5px;
        right: 230px;
    }

    .li-sdm-tool {
        position: absolute;
        top: 10px;
        right: 90px;
    }

    .p-sdm-number {
        position: absolute;
        top: 0;
        left: 80px;
    }
}

