.selector-header {
    width: 75px;
    height: 20px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 5px;

    &:after {
        position: absolute;
        margin-top: 5px;
        margin-left: 5px;
        content: '';
    }
}

.selector-body {
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 5px;

    .btn-selector {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn-separate {
        width: 80%;
    }
}

.displaynone {
    display: none;
}

