.selector-header {
    border-radius: 5px;
    height: 20px;
    padding-left: 10px;
    padding-top: 5px;
    width: 75px;

    &:after {
        content: '';
        margin-left: 5px;
        margin-top: 5px;
        position: absolute;
    }
}

.selector-body {
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;

    .btn-selector {
        padding-bottom: 5px;
        padding-top: 5px;
        width: auto;
    }

    .btn-separate {
        width: 80%;
    }
}

.displaynone {
    display: none;
}

