.dataTable {
  width: 100%;
  thead tr {
    background-color: $base-color-mid-grey;
    font-weight: $bold;
    th {
      width: 23%;
      &:first-child {
        width: 8%;
      }
    }
  }

  tr {
    height: 40px;
  }

}
