$base-color-white: #fff;

$base-color-light-grey: #f2f2f2;
$base-color-lighter-grey: #f3f3f3;
$base-color-mid-grey: #808080;
$base-color-middle-grey: #999999;
$base-color-dark-grey: #333;

$base-color-light-blue: #7fc7d1;
$base-color-mid-blue: #47b1c1;
$base-color-dark-blue: #08567f;
$base-color-darker-blue: #007187;
$base-color-blue: #176f88;

$base-color-green: #6DB46F;
$base-color-yellow-darker: #FFB74F;

$btn-color-primary: #ccc;
$border-color-primary: #dddddd;
$border-color-light-blue: #6D9EB3;

$base-color-error: #d9534f;
$base-color-error-border: #d43f3a;

p {
    color: $base-color-middle-grey;
}

.tools {
    font-size: 12px;
}

.item {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px $border-color-light-blue solid;
}

.item-header {
    height: 40px;
}

.item-content {
    padding: 4px 8px 2px 16px;
    h3 {
        color: $base-color-darker-blue;
    }
}

.item-footer {
    color: $base-color-mid-blue;
    height: 40px;
    padding: 2px;
    span {
        padding-left: 22px;
    }
}

.tool-type {
    display: inline-block;
    width: 80%;
}

.span-left {
    color: white;
    float: left;
    padding: 4px 8px;
}

.span-left.sdm {
    background-color: $base-color-green;
}

.span-left.basic {
    background-color: $base-color-yellow-darker;
}

.span-left.outcome {
    background-color: $base-color-mid-blue;
}

.span-right {
    color: $base-color-light-blue;
    padding-top: 4px;
    float: right;
}

.select-action {
    display: inline-block;
    float: right;
}

.vertical {
    display: inline-block;
    border-right: 1px solid $base-color-mid-blue;
    padding: 10px 30px 10px 12px;
    height: 20px;
}

/**
* use in dropdown list
**/

.open>.dropdown-list {
    display: block;
}

.btn-dropdown {
    position: relative;
}

.dropdown-list {
    position: absolute;
//    top: 100%;
//    left: 0;
    z-index: 1000;
    display: none;
//    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
//    background-clip: padding-box;
    border: 1px solid #ccc;
//    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    li {
        padding: 4px 12px;
    }
    .divider {
        height: 1px;
        margin: 9px 8px;
        padding: 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

}

/**
* use in dropdown list
**/
